# Ignore everything
**

# Except the build requirements
!uv.lock
!pyproject.toml
!vars/**
!ansible/**
!lab-resources/**

# and the runtime requirements
!policy-as-code.yml
!requirements.yml
!entrypoint.sh
!valid_ip.py
